@font-face {
    font-family:"iconfont";
    /* Project id 1853988 */
    src: url('//at.alicdn.com/t/font_1853988_f3lxotasye.woff2?t=1621395511841') format('woff2'), url('//at.alicdn.com/t/font_1853988_f3lxotasye.woff?t=1621395511841') format('woff'), url('//at.alicdn.com/t/font_1853988_f3lxotasye.ttf?t=1621395511841') format('truetype');
}
.iconfont {
    font-family: "iconfont", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-chaxun:before {
    content:"\e62b";
}
.icon-004-expressionless:before {
    content:"\e698";
}
.icon-qiyong:before {
    content:"\e68f";
}
.icon-fengche:before {
    content:"\e60d";
}
.icon-icon-archive:before {
    content:"\e629";
}
.icon-Love:before {
    content:"\e633";
}
.icon-home:before {
    content:"\e60b";
}
.icon-rss:before {
    content:"\e638";
}
.icon-icon-face:before {
    content:"\e625";
}